body{
	background-image: url("../img/retro-pixel.png");
	background-position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
}
.box{
	width: 300px;
	padding:100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.box h1{
	color:white;
	text-transform: uppercase;
	font-weight: 600;
}
.box input[type = "text"],.box input[type= "password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #81ecec;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25;
}
.box input[type = "submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #0984e3;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #0984e3;
}